In [62]:
import pandas as pd
import numpy as np
#Cargamos ambos data frames para comparar que sean iguales
bc_2 = "base_comportamiento_2.txt"
bc_3 = "base_comportamiento_3.csv"

b_comp_2= pd.read_csv(bc_2, sep = '\s+', header = 0)
b_comp_3= pd.read_csv(bc_3, header = 0)

In [4]:
b_comp_2.head(10)

   num_caso      mes_informacion  Tiempo_aparicion
0         1  2016-04-01 00:00:00               0.0
1         1  2016-05-01 00:00:00               1.0
2         1  2016-06-01 00:00:00               2.0
3         1  2016-07-01 00:00:00               3.0
4         1  2016-08-01 00:00:00               4.0
5         1  2016-09-01 00:00:00               5.0
6         1  2016-10-01 00:00:00               6.0
7         1  2016-11-01 00:00:00               7.0
8         1  2016-12-01 00:00:00               8.0
9         1  2017-01-01 00:00:00               9.0

In [9]:
b_comp_3.head(10)

   num_caso      mes_informacion  comportamiento_j
0         1  2016-04-01 00:00:00               0.0
1         1  2016-05-01 00:00:00               0.0
2         1  2016-06-01 00:00:00               0.0
3         1  2016-07-01 00:00:00               0.0
4         1  2016-08-01 00:00:00               0.0
5         1  2016-09-01 00:00:00               0.0
6         1  2016-10-01 00:00:00               0.0
7         1  2016-11-01 00:00:00               0.0
8         1  2016-12-01 00:00:00               0.0
9         1  2017-01-01 00:00:00               1.0

In [6]:
#Hacemos el comparativo entre los dos df's
#print(pd.concat([b_comp_2,b_comp_3]).drop_duplicates(keep=False))

In [7]:
#Uniendo las bases por numero de caso y mes de información
comportamiento = pd.merge(b_comp_2,b_comp_3, on=['num_caso','mes_informacion'],how='inner')
#comportamiento.info()
comportamiento.head()

   num_caso      mes_informacion  Tiempo_aparicion  comportamiento_j
0         1  2016-04-01 00:00:00               0.0               0.0
1         1  2016-05-01 00:00:00               1.0               0.0
2         1  2016-06-01 00:00:00               2.0               0.0
3         1  2016-07-01 00:00:00               3.0               0.0
4         1  2016-08-01 00:00:00               4.0               0.0

In [46]:
#Tomando únicamente el caso 1 y caso 7
caso_1 = comportamiento[comportamiento["num_caso"]==1]
caso_7 = comportamiento[comportamiento["num_caso"]==7]
#Información del primer caso
caso_1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 62 entries, 0 to 61
Data columns (total 4 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   num_caso          62 non-null     int64
 1   mes_informacion   62 non-null     object
 2   Tiempo_aparicion  62 non-null     float64
 3   comportamiento_j  62 non-null     float64
dtypes: float64(2), int64(1), object(1)
memory usage: 2.4+ KB

In [41]:
#Información del caso 7
caso_7.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 29 entries, 62 to 90
Data columns (total 4 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   num_caso          29 non-null     int64
 1   mes_informacion   29 non-null     object
 2   Tiempo_aparicion  29 non-null     float64
 3   comportamiento_j  29 non-null     float64
dtypes: float64(2), int64(1), object(1)
memory usage: 1.1+ KB

In [42]:
caso_1.head()

   num_caso      mes_informacion  Tiempo_aparicion  comportamiento_j
0         1  2016-04-01 00:00:00               0.0               0.0
1         1  2016-05-01 00:00:00               1.0               0.0
2         1  2016-06-01 00:00:00               2.0               0.0
3         1  2016-07-01 00:00:00               3.0               0.0
4         1  2016-08-01 00:00:00               4.0               0.0

In [43]:
caso_7.head()

    num_caso      mes_informacion  Tiempo_aparicion  comportamiento_j
62         7  2016-01-01 00:00:00               0.0               0.0
63         7  2016-02-01 00:00:00               1.0               0.0
64         7  2016-03-01 00:00:00               2.0               0.0
65         7  2016-04-01 00:00:00               3.0               0.0
66         7  2016-05-01 00:00:00               4.0               0.0

In [57]:
#Notemos que el index comienza en 62, cambiemos el índice para que comience en 0
caso_7= caso_7.rename(index = lambda x: x - caso_7.index[0])
print(caso_7.head())

   num_caso      mes_informacion  Tiempo_aparicion  comportamiento_j
0         7  2016-01-01 00:00:00               0.0               0.0
1         7  2016-02-01 00:00:00               1.0               0.0
2         7  2016-03-01 00:00:00               2.0               0.0
3         7  2016-04-01 00:00:00               3.0               0.0
4         7  2016-05-01 00:00:00               4.0               0.0

In [58]:
#numero de veces que no se pagó a tiempo
num_incump_1 = sum(caso_1["comportamiento_j"] > 0)
num_incump_7 = sum(caso_7["comportamiento_j"] > 0)
print(num_incump_1, num_incump_7)

7 9

In [59]:
#numero máximo de pagos incumplidos
max_incump_1 = int(caso_1["comportamiento_j"].max())
max_incump_7 = int(caso_7["comportamiento_j"].max())
print(max_incump_1, max_incump_7)

1 6

In [60]:
#for k in range(10, 3, -1):
#    print("C: " + str(k))

#Función que nos devolverá la cuenta de los diferentes atrasos
def pagos_atrasados(caso):
    count = dict()
    for k in range(len(caso)):
        atrasados = caso.loc[k,"comportamiento_j"] 
        
        if atrasados not in count:
            count[atrasados] = 1
        else:
            count[atrasados] += 1
    return count

print(pagos_atrasados(caso_1), "\n", pagos_atrasados(caso_7))

{0.0: 55, 1.0: 7}
 {0.0: 20, 1.0: 4, 2.0: 1, 3.0: 1, 4.0: 1, 5.0: 1, 6.0: 1}

In [65]:
#Función para ver los datos anteriores de otra manera.
def resumen_atrasos(caso):
    count = pagos_atrasados(caso)
    resumen = pd.DataFrame([[key, count[key]] for key in count.keys()], columns=['atraso', 'num_total'])
    return resumen


resumen_atrasos(caso_1)

   atraso  num_total
0     0.0         55
1     1.0          7

In [66]:
resumen_atrasos(caso_7)

   atraso  num_total
0     0.0         20
1     1.0          4
2     2.0          1
3     3.0          1
4     4.0          1
5     5.0          1
6     6.0          1

In [74]:
#comportamiento = pd.merge(b_comp_2,b_comp_3, on=['num_caso','mes_informacion'],how='inner')
#comportamiento.info()

In [54]:
# Index comportamineto por casos
#comp_casos = comportamiento.set_index("num_caso")
#comp_casos.head(5)

In [52]:
#numero de veces que no se pagó a tiempo
#num_incump = sum(comp_casos["comportamiento_j"] > 0)
#print(comp_casos["comportamiento_j"] > 0)