In [12]:
import pandas as pd

#Cargamos ambos data frames para comparar que sean iguales
df_parte1 =pd.read_csv("/Users/ignam/Documents/Semestre7/MachineLearning/MachineLearningEquipo/Tarea1/base_tarea1/base_inicio_parte1.csv")
df_interna =pd.read_csv("/Users/ignam/Documents/Semestre7/MachineLearning/MachineLearningEquipo/Tarea1/base_tarea1/base_ini_interna.csv")
df_externa =pd.read_csv("/Users/ignam/Documents/Semestre7/MachineLearning/MachineLearningEquipo/Tarea1/base_tarea1/base_ini_externa.csv")

#Extraemos de la tabla ini_interna el comp_interno4, para verificar que sea igual al de la inicio_parte1
df_interna_mod= df_interna.iloc[:,[0,5]]

In [13]:
#Muestra de como se ve el DF modificado
df_interna_mod.head()

    _id_  comp_interno4
0  78213           58.0
1  76457           45.0
2  40666           45.0
3   8329           59.0
4  68389           67.0

In [14]:
#Muestra de como se ve el DF de parte1
df_parte1.head()

    _id_  comp_interno4
0  78213             58
1  76457             45
2  40666             45
3   8329             59
4  68389             67

In [15]:
#Hacemos el comparativo entre los dos df's
print(pd.concat([df_parte1,df_interna_mod]).drop_duplicates(keep=False))

Empty DataFrame
Columns: [_id_, comp_interno4]
Index: []

In [17]:
#Segunda forma
print(df_parte1.append(df_interna_mod).drop_duplicates(keep=False))

Empty DataFrame
Columns: [_id_, comp_interno4]
Index: []

In [79]:
#Otra forma de comparar
print(df_parte1.compare(df_interna_mod, keep_equal=False))

Empty DataFrame
Columns: []
Index: []

In [88]:
df_int_ext= pd.merge(df_interna,df_externa, on=['_id_'],how='inner')
df_int_ext.head()

,_id_,fecha_inicio,comp_interno1,comp_interno2,comp_interno3,comp_interno4,categoria1,categoria2,categoria3,comp_externo1,comp_externo2,comp_externo3,comp_externo4
0,78213,2020-03-25,0.000000,b'0',11.0,58.0,2.0,9.0,156.0,260.869565,25.854639,56.0,-230.0
1,76457,2020-02-13,0.000000,b'1',28.0,45.0,1.0,4.0,173.0,40.579710,2.872738,62.0,-230.0
2,40666,2018-01-24,0.000000,b'1',25.0,45.0,1.0,9.0,170.0,119.000000,-230.000000,NaN,NaN
3,8329,2016-10-07,0.000000,b'1',14.0,59.0,3.0,3.0,159.0,349.275362,34.616490,94.0,-230.0
4,68389,2019-07-30,2026.342452,b'1',1.0,67.0,2.0,9.0,146.0,276.811594,27.434645,125.0,-230.0

In [89]:
df_int_ext.to_csv('base_interna_externa.csv',index=False)